
body{
    display: inline-flexbox;
    align-items: center;
    text-align: center;
    background-image: url(./פיצה\ 9.jpg);
    background-size: 100%;
}
button {
    background-color:rgb(107, 28, 15); 
    color: white;
    font-weight: bold;
    border-radius: 0.5vw;
    margin: 0.5vw;
    font-size: 1.2vw;
    padding: 0.7vw;
}
#buttons{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 1vw;
}
table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin: 1.5vw;
}
#pizzabody{
    font-size: 1vw;
}
th{
    color:rgb(107, 28, 15) ;

}
td{
    padding: 0.5vw;
    font-size: 1.2vw;
    border : black 1px solid;

}

#path{
    background-color:rgb(107, 28, 15);
    height: 6px;
}